/*-------Bug Tables formatting -----------*/

#bugResults tr th:first-child {
	width: 45px !important;
}

#bugResults td:first-child {
	cursor: pointer;
}

#bugResults td,
th {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#bugResults td {
	padding: 8px 10px;
	font-size: 13px !important;
}

#bugResults td .sorting_1 {
	font-weight: bold;
}

#bugResults .odd {
	background-color: #E8E5E5;
}
.EmailContainer {
    outline: 2px solid green;
}

.EmailContainer:last-of-type {
    box-shadow: 0px 0px 25px green;
}



/*FOR PULSES*/
.pulse-helpers {
	padding: 5px 10px; 
	background: #fff; 
	border-radius: 10px; 
	border: #007ac0 solid 2px;
	margin: 2px 5px;
	transition:.2s;
}
.pulse-helpers:hover {
	background: #007ac0;
	color: #fff;
}

#JiraIssuesTable {
	max-height: 500px;
    overflow-y: scroll;
}

/*FOR DAILY TIPS*/
#TipOuter {
	text-align: center;
	font-size: 18px;
	padding: 2em 1em;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
	margin: 25px auto;
}
.btn {
	padding: .5em .8em;
	font-size: 14px;
	border: 1px solid #ddd;
	transition: .2s;
	outline: 0;
	cursor:pointer;
}
#TipHeader {
	font-weight: bold;
}
#NewTipContainer {
	padding: 1em;
}
#TipList {
	padding: 1em;
}
#TipHeader {
	margin: 1em;
}


/*OmniSearch CSS*/
#OmniSearch, #OmniSearchValue {
	padding: .2 .5em;
	border: 1px solid #ddd;
	border-radius: 5px;
	outline: 0;
	transition: .5s;
	font-size: 14px;
	font-weight: 100;
}
#OmniSearchValue {
	width: 100px;
}
#OmniSearchValue:focus {
	width: 200px;
}



/*MBA GRANTING*/

div.red {
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
    width: 100%;
    border-radius: 3px;
    background: #fff;
    margin: 10px 0;
    text-align: center;
    padding: 15px 0;
}




/*REACTIONS */
.reaction {
	opacity: .5;
	transition: .2s;
	cursor:pointer;
	position: relative;
	display:inline-block;
	width:40px;
	height:40px;
	background-size: contain;
	background-repeat:no-repeat;
	background-position: center center;
	margin: .1em .4em;
}
.taco {
	background-image: url(http://blog.fpweb.net/media/2013/02/Say-NO-to-SPAM-325x321.png);
	float: right;
}
.scrappy {
	background-image: url(https://qglobalops.co1.qualtrics.com/WRQualtricsControlPanel/Graphic.php?IM=IM_aXA0nCzpEaKXiVn);
}
.allIn {
	background-image: url(https://qglobalops.co1.qualtrics.com/WRQualtricsControlPanel/Graphic.php?IM=IM_e2SHvxWrJMmYwUB);
}
.obsessed {
	background-image: url(https://qglobalops.co1.qualtrics.com/WRQualtricsControlPanel/Graphic.php?IM=IM_1SuT54KTtijmdhz);
}
.oneTeam {
	background-image: url(https://qglobalops.co1.qualtrics.com/WRQualtricsControlPanel/Graphic.php?IM=IM_9vKvaNyDVwpkuu9);
}
.transparent {
	background-image: url(https://qglobalops.co1.qualtrics.com/WRQualtricsControlPanel/Graphic.php?IM=IM_ah3PUb9TmfrkqIR);
}
.reaction:hover {
	opacity: .9;
}
.reaction_count {
	position: absolute;
	right:-10px;
	bottom:3px;
	margin-right:10px;
	background: rgba(255,255,255,.6);
	border-radius: .2em;
}

.nonOpaque {
	opacity: 1 !important;
	transition:.2s;
	transform: rotate(360deg);
}
.hidden {
	display:none;
}





