#BodyContent {
    background: transparent !important;
}

#BodyContent > center > div, #BodyContent > center > div > b > center {
    background: #fff !important;
    font-family: "Helvetica Neue" !important;
    font-weight: 200 !important;
}

#BodyContent > div > table > tbody > tr > td > select {
    background: #20AAD8 !important;
    border: none !important;
    color: #fff !important;
}

#BodyContent > div.clearfix.ct-header > div, #BodyContent > div.clearfix.sp-header > div.sp-title.SE-ticket, #BodyContent > div.clearfix.sp-header > div.sp-title.SP-ticket, #BodyContent > table.Header > tbody > tr, #BodyContent > table.Header {
    background-color: #fff !important;
    border: none !important;
    color: #007ac0 !important;
    font-family: "Helvetica Neue" !important;
    font-weight: 200 !important;
}

#BodyContent > div.clearfix.sp-header > div:nth-child(1) > button {
    background: #04a365 !important;
    color: #fff !important;
}

#BodyContent > div.clearfix.sp-header > div:nth-child(2) > button, .btn, .btn-default, #notification-subscription-widget > tbody > tr.notify-subscribe > td > button, #QuniSupportPhoneTicketInbox_wrapper > div.ColVis > button, button, input[type="button"] {
    background: #fff !important;
    border: 1px rgb(132, 132, 132) solid !important;
    border-radius: 5px !important;
    color: rgb(132, 132, 132) !important;
    margin: 0 1px !important;
    padding: 5px 9px !important;
    transition: all .2s ease-in-out !important;
}

#BodyContent > div.clearfix.sp-header > div:nth-child(2) > button:hover, .btn:hover, .btn-default:hover, #notification-subscription-widget > tbody > tr.notify-subscribe > td > button:hover, button:hover, input[type="button"]:hover {
    border: 1px rgb(4, 163, 101) solid !important;
    background: #007AC0 !important;
    color: #fff !important;
}

#BodyContent > div.clearfix.sp-header > div:nth-child(3) > button, #Toolbar- > button, .DiscussionCommentButton {
    background: #007ac0 !important;
    border: none !important;
    border-radius: 5px !important;
    color: #fff !important;
    cursor: pointer !important;
    margin: 0 1px !important;
    padding: 5px 9px !important;
    transition: all .2s ease-in-out !important;
}

#BodyContent > div.clearfix.sp-header > div:nth-child(3) > button:hover, #Toolbar- > button:hover, .DiscussionCommentButton:hover {
    background: #108ad0 !important;
}

#BodyContent > div.row.ct-fields.clearfix > div.col-sm-2.ct-field-names, #BodyContent > div.row.sp-fields.clearfix > div.col-sm-2.sp-field-names {
    color: #777 !important;
    font-family: "Helvetica Neue" !important;
    font-weight: 200 !important;
}

#BodyContent > div.row.sp-fields.clearfix > div.col-sm-9.sp-field-values {
    color: #555 !important;
    font-family: "Helvetica Neue" !important;
    font-weight: 300 !important;
}

#BodyContent > div:nth-child(14) > table > thead > tr > th, #BodyContent > table > thead > tr > th, #RSUserSurveys > div > table > thead > tr > th, #BodyContent > div:nth-child(27) > table > thead > tr > th {
    background: #008AB8 !important;
    color: #fff !important;
}

#BodyContent > div:nth-child(14) > table, #BodyContent > div:nth-child(14) > table > tbody, table, #BodyContent > div > table > tbody > tr > td, .EmailContainer, tr > td, td, th {
    border: none !important;
}

#BodyContent > div:nth-child(39) > table > thead > tr > th, #BodyContent > div:nth-child(35) > table > thead > tr > th {
    background: #95CAE4 !important;
}

#BodyContent > h2 {
    color: #bbb !important;
    font-family: "Helvetica Neue" !important;
    font-weight: 200 !important;
}

#BodyContent > p:nth-child(26) {
    text-align: center !important;
}

#BodyContent > table:nth-child(4) > tbody > tr > td > div {
    border: 1px #efefef solid !important;
    border-radius: 15px !important;
}

#BodyContent > table:nth-child(4) > tbody > tr > td > div > div > a, #BodyContent > table:nth-child(4) > tbody > tr > td:nth-child(3) > div > div:nth-child(3) {
    color: #007ac0 !important;
    font-family: "Helvetica Neue" !important;
    font-weight: 300 !important;
}

#BodyContent > table:nth-child(4) > tbody > tr > td > div > div.BoxHeader {
    background: none !important;
    border: none !important;
    font-family: "Helvetica Neue" !important;
    font-weight: 200 !important;
}

#BodyContentBackground {
    background: transparent !important;
    border: none !important;
}

#CloseTicketButton, #OpenTicketButton {
    background: #04a365 !important;
    border: 1px #eee solid !important;
    border-radius: 5px !important;
    color: #fff !important;
    cursor: pointer !important;
    margin: 0 1px !important;
    padding: 5px 9px !important;
    transition: all .2s ease-in-out !important;
}

#CloseTicketButton:hover, #OpenTicketButton:hover {
    background: #14b375 !important;
}

#DiscussionContainer-0W3RIFNW9YL7 > div > div.DiscussionThumbnail > img, #DiscussionContainer-0W3RIFNW9YL7 > div > div.DiscussionArrow {
    visibility: hidden !important;
}

#DiscussionPostShareWithControls > div.DiscussionPostControlButtons > button {
    background: #04a365 !important;
    border: none !important;
    border-radius: 2px !important;
    color: #fff !important;
    margin-left: -3px !important;
    transition: all .2s ease-in-out !important;
}

#DiscussionPostShareWithControls > div.DiscussionPostControlButtons > button:hover {
    background: #14b375 !important;
}

#DiscussionPostShareWithControls > div.selectBoxArrow {
    right: 69px !important;
}

#InteractionCode, #DriverCode {
    border: none !important;
    border-radius: 5px !important;
    margin: 2px !important;
    padding: 3px !important;
}

#InteractionCode:focus {
    outline: none !important;
}

#LeftMenuColumn > a > div {
    color: #666 !important;
    font-family: "Helvetica Neue" !important;
    font-weight: 200 !important;
}

#LeftMenuColumn > div {
    color: #777 !important;
    font-family: "Helvetica Neue" !important;
    font-weight: 200 !important;
}

#OpenSupportTicketInbox_wrapper > div.ColVis > button, #ClosedSupportTicketInbox_wrapper > div.ColVis > button, #OpenOtherTicketInbox_wrapper > div.ColVis > button, {
    background: #fff !important;
    border: 1px #eee solid !important;
    border-radius: 8px !important;
    box-shadow: none !important;
    color: #777 !important;
    font-family: "Helvetica Neue" !important;
    font-weight: 200 !important;
    margin-left: 5px !important;
    transition: all .2s ease-in-out !important;
}

#OpenSupportTicketInbox_wrapper > div.ColVis > button:hover, #ClosedSupportTicketInbox_wrapper > div.ColVis > button:hover {
    border: 1px #fafafa solid !important;
    color: #999 !important;
}

#PostBarContainer > div.DiscussionPostBox {
    border: #ddd 1px solid !important;
    border-radius: 0 5px 5px 0 !important;
}

#PostBarContainer > div.DiscussionPostBox > div.DiscussionPostRTFContainer > div > div {
    background: #fafafa !important;
    border: none !important;
}

#QUniOptions > button, #DefaultOptions > button.ui-button.ui-widget, #BodyContent > div:nth-child(8) > button {
    background: #007ac0 !important;
    border: none !important;
    border-radius: 5px !important;
    color: #fff !important;
    cursor: pointer !important;
    margin: 0 1px !important;
    padding: 3px 5px !important;
    transition: all .2s ease-in-out !important;
}

#QUniOptions > button:hover, #DefaultOptions > button.ui-button.ui-widget:hover, #BodyContent > div:nth-child(8) > button:hover {
    background: #108ad0 !important;
}

#QualtricsTimezonesTable {
    background: #eaeaea !important;
    border: #fff !important;
}

#QualtricsTimezonesTable > tbody {
    border: none !important;
    font-family: "Helvetica Neue" !important;
    font-weight: 200 !important;
}

#QualtricsTimezonesTable > tbody > tr > td > span {
    font-weight: 200 !important;
}

#RightMenuColumn > div:nth-child(1), #RightMenuColumn > div {
    border: none !important;
}

#RightMenuColumn > h2 {
    border: none !important;
    font-family: "Helvetica Neue" !important;
    font-weight: 200 !important;
}

#RightMenuColumn > table {
    background: #fff !important;
    border: #04a365 1px solid !important;
    border-radius: 10px !important;
    color: #04a365 !important;
    font-family: "Helvetica Neue" !important;
    font-weight: 200 !important;
    width: 225px !important;
    height: 55px !important;
}

#RightMenuColumn > table > tbody > tr > td {
    padding: 5px 20px !important; 
}

#RightMenuColumn > table.Yellow > tbody > tr > td,#RightMenuColumn > table.Blue > tbody > tr > td,#RightMenuColumn > table.Green > tbody > tr > td,#RightMenuColumn > table.Gold > tbody > tr > td {
    border: #fff !important;
    color: #04a365 !important;
    height: auto !important;
    padding: 5px 0px 5px 20px !important;
}


#RightMenuColumn > table.Yellow > tbody > tr > td:nth-child(3),#RightMenuColumn > table.Blue > tbody > tr > td:nth-child(3),#RightMenuColumn > table.Green > tbody > tr > td:nth-child(3),#RightMenuColumn > table.Gold > tbody > tr > td:nth-child(3) {
    padding-right: 15px !important;
}

#RightMenuColumn > table > tbody > tr > td > center > a, #RightMenuColumn > table.Orange > tbody > tr > td, #RightMenuColumn > table > tbody > tr > td > a {
    border: #fff !important;
    color: #04a365 !important;
    text-align: center !important;
    text-decoration: none !important;
    font-size: 15px !important;
    font-weight: 600 !important;
}

#RightMenuColumn > table > tbody > tr > td, #RightMenuColumn > table > thead > tr > th {
    background: #fff !important;
    border-radius: 10px !important;
    color: #04a365 !important;
    font-family: "Helvetica Neue" !important;
}

#RightMenuColumn > table > thead > tr > th, #DiscussionPostShareWithControls > div.DiscussionPostShareWithTitle, #DiscussionPostShareWithControls > div.DiscussionPostShareWithSelect > select {
    border: none !important;
    font-family: "Helvetica Neue" !important;
    font-weight: 300 !important;
}
#RightMenuColumn > table > thead > tr > th {
    text-decoration: underline !important;
}

#RightMenuColumn > table.Gray > thead > tr > th, #RightMenuColumn > table.Gray > tbody > tr:nth-child(2) > td {
    text-align: center !important;
}

#RightMenuColumn > table.Orange > tbody:nth-child(2) > tr > td > a {
    border: #fff !important;
    color: #04a365 !important;
    font-size: 26px !important;
    font-weight: 600 !important;
}

#RightMenuColumn > table.Yellow > tbody > tr > td {
    border: #04a365 !important;
}

#RightMenuColumn > table:nth-child(1) > tbody > tr > td a {
    color: #04a365 !important;
    font-weight: 200 !important;
}

#RightMenuColumn > table:nth-child(1), #RightMenuColumn > table:nth-child(1) > thead > tr > th, #RightMenuColumn > table:nth-child(1) > tbody > tr > td {
    background: #fff  !important;
    color: #04a365 !important;
}

#SearchBox {
    border: none !important;
    border-radius: 25px !important;
    padding: 3px 20px !important;
}

#SearchBox:focus {
    outline: none !important;
}

.SearchContainer {
    width: 800px !important;
}

#UploadFileButton > span {
    color: #333 !important;
}

#UserReportCard > h3, #UserReportCard > div {
    color: #aaa !important;
    font-family: "Helvetica Neue" !important;
    font-weight: 200 !important;
}

#UserSettingsTabs- > ul > li.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active, .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    background: none !important;
    border: 1px solid #04b26e !important;
    border-radius: 5px !important;
    color: #04b26e !important;
    transition: all .2s ease-in-out !important;
}

#UserSettingsTabs-, #UserSettingsTabs- > ul {
    background: none !important;
    border: none !important;
}

#phone-system-access, #RightMenuColumn > table > tbody > tr > td > a {
    border: #fff !important;
    color: #04a365 !important;
    font-size: 15px !important;
}

#requestBtn {
    background: #04a365 !important;
    border: none !important;
    border-radius: 5px !important;
    color: #fff !important;
    cursor: pointer !important;
    padding: 5px 10px !important;
}

#resolution-email-body > a {
    color: #fff !important;
}

#resolution-modal > div > div > div.modal-footer > button:nth-child(1) {
    background: #c32432 !important;
    color: #fff !important;
}

#resolution-modal > div > div > div.modal-footer > button:nth-child(2), #resolution-modal > div > div > div.modal-footer > button:nth-child(3) {
    background: #04a365 !important;
    color: #fff !important;
}

#resolve-sp-btn {
    background: #04a365 !important;
    color: #fff !important;
}

#resolve-sp-btn:hover {
    background: #05b375 !important;
    color: #fff !important;
}

#ui-id-2, #PopUp > div.Caption {
    font-family: "Helvetica Neue" !important;
    font-weight: 200 !important;
}

* {
    text-shadow: none  !important;
}

.AddButton {
    background-color: #fff !important;
    background-image: url("https://mypantsareonfire.qualtrics.com/ControlPanel/Graphic.php?IM=IM_81EGaijEkHWOAp7&V=1436399902") !important;
    background-size: 100% !important;
    border-radius: 100% !important;
}

.DiscussionCommentSection > div:last-child {
    border: #eee 1px solid !important;
    border-radius: 0 0 5px 5px !important;
}

.DiscussionCommentTextArea {
    transition: all .2s ease-in-out !important;
}

.DiscussionCommentTextArea:hover {
    background: #fafafa !important;
}

.DiscussionLikes, .DiscussionCommentOnPost, .DiscussionCommentBox {
    background: #fafafa !important;
    border: none !important;
}

.DiscussionSummary, #DiscussionPostEntryBox {
    color: #666 !important;
    font-family: "Helvetica" !important;
    font-weight: 200 !important;
}

.Footer {
    border: none !important;
    color: #ddd !important;
    text-align: center !important;
}

.LeftMenuColumn .PageFrameLeftMenuItem {
    border-radius: 5px !important;
}

.LeftMenuColumn .PageFrameLeftMenuItem:hover {
    background: #eee !important;
    color: #fff !important;
}

.PageMenuBar .MenuItemSelected {
    border-top: #fff 2px solid !important;
}

.PageMenuBar a {
    transition: .2s ease-in-out !important;
}

.PageMenuBar a:hover {
    color: #ddd !important;
}

.SearchAutoCompleteResult {
    border: 1px solid #eaeaea !important;
}

.SearchBar {
    background: #eaeaea !important;
    border: none !important;
}

.SearchOption {
    font-family: "Helvetica Neue" !important;
    transition: all .2s ease-in-out !important;
}

.SearchOption:hover {
    background: transparent !important;
    color: #209ae0 !important;
}

.SearchOptionSelected {
    background: none !important;
    color: #007ac0 !important;
}

.Yellow thead th {
    background: #008AB8 !important;
    color: #fff !important;
}

.alert-danger, .alert-danger h4 {
    background: #fff !important;
    border: none !important;
    color: #c32432 !important;
}

.alert-success, .alert-success h4 {
    background: #fff !important;
    border: none !important;
    color: #04a365 !important;
}

.cell-border dataTable, table.dataTable.no-footer, #OpenSupportTicketInbox > thead, table.dataTable thead th, table.dataTable thead td {
    border: 1px #eee solid !important;
}

.dataTables_length > label > select {
    background: #ccc !important;
    border: none !important;
    color: #fff !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_paginate {
    background: #fafafa !important;
    border: 1px solid #eaeaea !important;
    border-radius: 5px !important;
    margin: 0 5px !important;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
    background: transparent !important;
    border: #04a365 1px solid !important;
    color: #04a365 !important;
}

.paginate_button.current:hover {
    background: #fff !important;
}

.sp-title.SE-ticket {
    background-image: url("https://mypantsareonfire.qualtrics.com/ControlPanel/Graphic.php?IM=IM_1MtenAjhuRu5wjz&V=1436405869") !important;
}

.sp-title.SP-ticket {
    background-image: url("https://mypantsareonfire.qualtrics.com/ControlPanel/Graphic.php?IM=IM_3Ua1IiSMuOPGnR3&V=1436402515") !important;
}

.ui-dialog .ui-dialog-titlebar {
    background: #008AB8 !important;
    border: none !important;
}

.ui-state-default, .ui-tabs-anchor {
    color: #ddd !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: none !important;
    border: 1px solid #ddd !important;
    border-radius: 5px !important;
    transition: all .2s ease-in-out !important;
}

.ui-widget-content {
    border: none !important;
}

.ui-widget-header {
    background: rgba(0,0,0,0) !important;
    border: none !important;
}

a {
    color: #007ac0 !important;
    text-decoration: none !important;
}

body > div.PageMenuBar {
    background: #007ac0 !important;
    border: none !important;
    font-family: "Helvetica Neue" !important;
    font-size: 12px
    font-weight: 200 !important;
    height: auto !important;
    max-height: none !important;
    overflow: auto !important;
}

body > div.PageMenuBar > div > a {
    color: #fff !important;
}

body > div.PageTitleBar {
    border: none !important;
}

body > div.PageTitleBar > div.Title {
    color: #bbb !important;
    font-family: "Helvetica Neue" !important;
    font-weight: 200 !important;
}

body > div.SearchBar > div {
    width: 860px !important;
}

body > div.SearchBar > div > a > img {
    transition: all 55s !important;
}

body > div.SearchBar > div > a > img:hover {
    /*transform: rotate(4600deg) !important;*/
}

body > div.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-draggable.ui-resizable.ui-dialog-buttons {
    border: #eee 1px solid !important;
    box-shadow: none !important;
}

body > div.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-draggable.ui-resizable.ui-dialog-buttons > div.ui-dialog-buttonpane.ui-widget-content.ui-helper-clearfix {
    text-align: center !important;
}

body > div.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-draggable.ui-resizable.ui-dialog-buttons > div.ui-dialog-buttonpane.ui-widget-content.ui-helper-clearfix > div {
    float: none !important;
    margin: 0 auto !important;
}

body > div.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-draggable.ui-resizable.ui-dialog-buttons > div.ui-dialog-buttonpane.ui-widget-content.ui-helper-clearfix > div > button {
    background: #993333 !important;
    border: none !important;
    color: #fff !important;
}

body > div.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-draggable.ui-resizable.ui-dialog-buttons > div.ui-dialog-buttonpane.ui-widget-content.ui-helper-clearfix > div > button:nth-child(1), body > div.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-draggable.ui-resizable.ui-dialog-buttons > div.ui-dialog-buttonpane.ui-widget-content.ui-helper-clearfix > div > button:nth-child(2) {
    background: #04a365 !important;
    color: #fff !important;
}

body > div.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-draggable.ui-resizable.ui-dialog-buttons > div.ui-resizable-handle.ui-resizable-se.ui-icon.ui-icon-gripsmall-diagonal-se.ui-icon-grip-diagonal-se {
    visibility: hidden !important;
}

body > div:nth-child(3) {
    border-bottom: none !important;
}

button {
    cursor: pointer !important;
}

/* DISCUSSION BOX */

/*RIGHT HAND SIDE*/

/*TICKET COUNT*/

/*BUTTONS ON TICKET PAGES */

/* NEW IMAGES */

/*PROFILE PAGE*/

/*TABLES ON TICKET PAGES */

div > div.DiscussionBox, .DiscussionCommentBoxTextBox, .DiscussionCommentRTFContainer {
    border: #eee 1px solid !important;
    border-radius: 0 5px 5px 5px !important;
}

div.DiscussionBox > div.titleBar > div.DiscussionDate {
    color: #aaa !important;
    font-weight: 200 !important;
}

div.DiscussionBox > div.titleBar > div.DiscussionName > a {
    color: #666 !important;
    font-family: "Helvetica Neue" !important;
    font-weight: 200 !important;
}

div.DiscussionBox > div.titleBar > div.DiscussionOwner {
    font-weight: 400 !important;
}

div.ui-dialog div.ui-widget div.ui-widget-content div.ui-corner-all div.ui-draggable div.ui-resizable {
    border: none !important;
    border-radius: 5px !important;
    font-family: "Helvetica Neue" !important;
}

img[src*="/img/Add.png"] {
    border-radius: 5px !important;
    content: url("https://mypantsareonfire.qualtrics.com/ControlPanel/Graphic.php?IM=IM_81EGaijEkHWOAp7&V=1436399902") !important;
    margin: 0px 5px !important;
    padding: 0px !important;
}

img[src*="/img/Critical.png"] {
    border-radius: 5px !important;
    content: url("https://mypantsareonfire.qualtrics.com/ControlPanel/Graphic.php?IM=IM_8jGhdeHnsjFud9P&V=1436400815") !important;
    margin: 0px 5px !important;
    padding: 0px !important;
}

img[src*="/img/Delete.png"] {
    border-radius: 5px !important;
    content: url("https://mypantsareonfire.qualtrics.com/ControlPanel/Graphic.php?IM=IM_eSb8zVB5NclmmS9&V=1436402280") !important;
    margin: 0px 5px !important;
    padding: 0px !important;
}

img[src*="/img/EE.png"] {
    border-radius: 5px !important;
    content: url("https://mypantsareonfire.qualtrics.com/ControlPanel/Graphic.php?IM=IM_0P6lFXuZqI4EySV&V=1436418329") !important;
    margin: 0px 5px !important;
    padding: 1px !important;
}

img[src*="/img/Edit.png"], img[src*="/img/DR.png"] {
    border-radius: 5px !important;
    content: url("https://mypantsareonfire.qualtrics.com/ControlPanel/Graphic.php?IM=IM_cLXe3TJUCGlvupT&V=1436399915") !important;
    margin: 0px 5px !important;
    padding: 1px !important;
}

img[src*="/img/Email.png"], img[src*="/img/SE.png"] {
    border-radius: 5px !important;
    content: url("https://mypantsareonfire.qualtrics.com/ControlPanel/Graphic.php?IM=IM_1MtenAjhuRu5wjz&V=1436405869") !important;
    margin: 0px 5px !important;
    padding: 0px !important;
}

img[src*="/img/Inbox.png"] {
    border-radius: 5px !important;
    content: url("https://mypantsareonfire.qualtrics.com/ControlPanel/Graphic.php?IM=IM_2gaY9v560X0FrU1&V=1436414045") !important;
    margin: 0px 0px !important;
    padding: 0px !important;
}

img[src*="/img/KnowledgeBase.png"] {
    border-radius: 5px !important;
    content: url("https://mypantsareonfire.qualtrics.com/ControlPanel/Graphic.php?IM=IM_e9cOPDpAnlEzw9v&V=1436402355") !important;
    margin: 0px 5px !important;
    padding: 0px !important;
}

img[src*="/img/Low.png"] {
    border-radius: 5px !important;
    content: url("https://mypantsareonfire.qualtrics.com/ControlPanel/Graphic.php?IM=IM_b1qhSCsIIhJptFb&V=1436418554") !important;
    margin: 0px 5px !important;
    padding: 1px !important;
}

img[src*="/img/Normal.png"] {
    border-radius: 5px !important;
    content: url("https://mypantsareonfire.qualtrics.com/ControlPanel/Graphic.php?IM=IM_54FmW2AEOWmU3e5&V=1436418501") !important;
    margin: 0px 5px !important;
    padding: 1px !important;
}

img[src*="/img/Open.png"] {
    border-radius: 5px !important;
    content: url("https://mypantsareonfire.qualtrics.com/ControlPanel/Graphic.php?IM=IM_ebNG2a7ncBOoR5b&V=1436412039") !important;
    margin: 0px 5px !important;
    padding: px !important;
}

img[src*="/img/PageLogo.png"] {
    border-radius: 5px !important;
    content: url("https://mypantsareonfire.qualtrics.com/ControlPanel/Graphic.php?IM=IM_bDVm16QoQrNWsx7&V=1436414154") !important;
    margin: 0px 0px !important;
    padding: 0px !important;
}

img[src*="/img/Phone.png"], img[src*="/img/SP.png"] {
    border-radius: 5px !important;
    content: url("https://mypantsareonfire.qualtrics.com/ControlPanel/Graphic.php?IM=IM_3Ua1IiSMuOPGnR3&V=1436402515") !important;
    margin: 0px 5px !important;
    padding: 0px !important;
}

img[src*="/img/ResearchSuite.png"] {
    border-radius: 5px !important;
    content: url("https://mypantsareonfire.qualtrics.com/ControlPanel/Graphic.php?IM=IM_07p0ZJpnwwR0w8l&V=1436418162") !important;
    margin: 0px 5px !important;
    padding: 1px !important;
}

img[src*="/img/SiteIntercept.png"] {
    border-radius: 5px !important;
    content: url("https://mypantsareonfire.qualtrics.com/ControlPanel/Graphic.php?IM=IM_cuwD7XfHFyEzJnD&V=1436418423") !important;
    margin: 0px 5px !important;
    padding: 1px !important;
}

img[src*="/img/Stencil.png"] {
    border-radius: 5px !important;
    content: url("https://mypantsareonfire.qualtrics.com/ControlPanel/Graphic.php?IM=IM_b7AlDfFAQBIyMv3&V=1436416117") !important;
    margin: 0px 0px !important;
    padding: 0px !important;
}

img[src*="/img/Take.png"] {
    border-radius: 5px !important;
    content: url("https://mypantsareonfire.qualtrics.com/ControlPanel/Graphic.php?IM=IM_9BIsNza1Cs0FFHf&V=1436412249") !important;
    margin: 0px 5px !important;
    padding: 0px !important;
}

img[src*="/img/ThreeSixty.png"] {
    border-radius: 5px !important;
    content: url("https://mypantsareonfire.qualtrics.com/ControlPanel/Graphic.php?IM=IM_0kZFDCCjVtXY2GN&V=1436418304") !important;
    margin: 0px 5px !important;
    padding: 1px !important;
}

img[src*="/img/Unassigned.png"] {
    border-radius: 5px !important;
    content: url("https://mypantsareonfire.qualtrics.com/ControlPanel/Graphic.php?IM=IM_2gVgPWDJNk4lhC5&V=1436412086") !important;
    margin: 0px 5px !important;
    padding: 0px !important;
}

img[src*="/img/View.png"] {
    border-radius: 5px !important;
    content: url("https://mypantsareonfire.qualtrics.com/ControlPanel/Graphic.php?IM=IM_cBV1vjjzkOGsvMV&V=1436412356") !important;
    margin: 0px 0px !important;
    padding: 0px !important;
}

img[src*="?b=EmployeePhoto&eid=Email Crawler"] {
    border-radius: 5px !important;
    content: url("https://mypantsareonfire.qualtrics.com/ControlPanel/Graphic.php?IM=IM_6nC2kpkijev6cmh&V=1436415959") !important;
    margin: 0px 0px !important;
    max-width: 100px !important;
    padding: 0px !important;
}

img[src*="?b=EmployeePhoto&eid=Email Crawler"], img[src*="/img/RSUser.png"] {
    border-radius: 5px !important;
    content: url("https://mypantsareonfire.qualtrics.com/ControlPanel/Graphic.php?IM=IM_6nC2kpkijev6cmh&V=1436415959") !important;
    margin: 0px 0px !important;
    max-width: 100px !important;
    padding: 0px !important;
}

img[src*="SP/SupportPhoneTicket.png"] {
    border-radius: 5px !important;
    content: url("https://co1.qualtrics.com/ControlPanel/Graphic.php?IM=IM_6lfgsShlG6m5syN&V=1436367218") !important;
    margin: 0px 5px !important;
    padding: 0px !important;
}

img[src*="img/A.png"] {
    border-radius: 5px !important;
    content: url("https://co1.qualtrics.com/ControlPanel/Graphic.php?IM=IM_8J4dTEl2QmkBJOJ&V=1435874043") !important;
}

img[src*="img/BA.png"] {
    border-radius: 5px !important;
    content: url("https://co1.qualtrics.com/ControlPanel/Graphic.php?IM=IM_2hG8mTQsBn8E7rf&V=1435874049") !important;
}

img[src*="img/BR.png"] {
    border-radius: 5px !important;
    content: url("https://co1.qualtrics.com/ControlPanel/Graphic.php?IM=IM_6r6z2SdxKQiFo2x&V=1435873620") !important;
}

img[src*="img/C.png"] {
    border-radius: 5px !important;
    content: url("https://co1.qualtrics.com/ControlPanel/Graphic.php?IM=IM_cTT0AOpAqPksPxb&V=1435874865") !important;
}

img[src*="img/CP.png"] {
    border-radius: 5px !important;
    content: url("https://mypantsareonfire.qualtrics.com/ControlPanel/Graphic.php?IM=IM_5APFMnqaGHAp1UF&V=1436413173") !important;
    margin: 0px 5px !important;
    padding: 0px !important;
}

img[src*="img/L.png"] {
    border-radius: 5px !important;
    content: url("https://co1.qualtrics.com/ControlPanel/Graphic.php?IM=IM_3ygEMvRAeV7exa5&V=1435873583") !important;
}

img[src*="img/LC.png"] {
    border-radius: 5px !important;
    content: url("https://co1.qualtrics.com/ControlPanel/Graphic.php?IM=IM_3ygEMvRAeV7exa5&V=1435873583") !important;
}

img[src*="img/Pulse.png"] {
    border-radius: 5px !important;
    content: url("https://co1.qualtrics.com/ControlPanel/Graphic.php?IM=IM_8nPY8ILMqvfkSPP&V=1436367220") !important;
    margin: 0px 5px !important;
    padding: 0px !important;
}

img[src*="img/R.png"] {
    border-radius: 5px !important;
    content: url("https://co1.qualtrics.com/ControlPanel/Graphic.php?IM=IM_6r6z2SdxKQiFo2x&V=1435873620") !important;
}

img[src*="img/T.png"] {
    border-radius: 5px !important;
    content: url("https://co1.qualtrics.com/ControlPanel/Graphic.php?IM=IM_eWemIVqRgV7ObAN&V=1435873459") !important;
}

img[src*="img/TC.png"] {
    border-radius: 5px !important;
    content: url("https://co1.qualtrics.com/ControlPanel/Graphic.php?IM=IM_eWemIVqRgV7ObAN&V=1435873459") !important;
}

img[src*="img/TR.png"] {
    border-radius: 5px !important;
    content: url("https://co1.qualtrics.com/ControlPanel/Graphic.php?IM=IM_4OBvIAMqIYN0fqZ&V=1435875083") !important;
}

img[src*="img/TicketIcon.png"] {
    border-radius: 5px !important;
    content: url("https://co1.qualtrics.com/ControlPanel/Graphic.php?IM=IM_9yNe7zVYbdvEDAN&V=1436367221") !important;
    margin: 0px 5px !important;
    padding: 0px !important;
}

img[src*="img/Unknown.png"] {
    border-radius: 5px !important;
    content: url("https://co1.qualtrics.com/ControlPanel/Graphic.php?IM=IM_6DJpF3JMvQr8T7n&V=1435874690") !important;
}

input[type="search"] {
    border: 1px #eee solid !important;
    border-radius: 8px !important;
}

label {
    color: #777 !important;
    font-family: "Helvetica Neue" !important;
    font-weight: 200 !important;
}

table .Selected {
    background: #FaFdFf !important;
}

table.PermissionTable {
    background: #fff !important;
    border: 0px solid #fff !important;
}

table.PermissionTable > tbody > tr > td {
    border-bottom: 1px solid #eee !important;
}

table.PermissionTable > thead > tr > th {
    background: #fff !important;
    border: 0px !important;
    color: #aaa !important;
    font-family: "Helvetica Neue" !important;
    font-weight: 300 !important;
}

#RightMenuColumn > table:nth-child(1) > tbody > tr > td a {
    font-weight: 600 !important;
}

tr.Selected > td:nth-child(1) {
      min-width: 103px !important;
}

#RightMenuColumn > table.Gray > tbody > tr:nth-child(2) > td:nth-child(1) {
    text-align: left !important;
}

/*-------Bug Tables formatting -----------*/

#bugResults tr th:first-child {
  width: 45px !important;
}
#bugResults td:first-child {
  cursor: pointer;
}

#bugResults td,th{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
#bugResults td{
	padding: 8px 10px;
	font-size: 13px !important;
}
#bugResults td .sorting_1 {
 font-weight: bold;   
}
#bugResults .odd {
    background-color: #E8E5E5;
}

/* -------- QWiki Edit Styling ----------*/
.editButtons, .mw-summary, .editOptions {
    line-height: 1.5em;
    padding: 5px;
}
#wpTextbox1 {
    width: 100%;
}
#editform .te {
    margin: 25px 0px;
}
#qWikiSubmit {
    float: right;
}
#siteSub, #jump-to-nav {
    display: none;
}
#Bugs {
    min-height: 300px;
}
