/*-------Bug Tables formatting -----------*/

#bugResults tr th:first-child {
	width: 45px !important;
}

#bugResults td:first-child {
	cursor: pointer;
}

#bugResults td,
th {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#bugResults td {
	padding: 8px 10px;
	font-size: 13px !important;
}

#bugResults td .sorting_1 {
	font-weight: bold;
}

#bugResults .odd {
	background-color: #E8E5E5;
}
.EmailContainer {
    outline: 2px solid green;
}

.EmailContainer:last-of-type {
    box-shadow: 0px 0px 25px green;
}

body > div.PageTitleBar > div {
    color: #fff !important;
}

div.DiscussionSummary {
    display: none !important;
}

div.PageTitleBar {
    background: #333 !important;
}

