<link rel="stylesheet" type="text/css" href="../css/options.css">

<div id='Overlay'>
		<div id='IframeContainer'>
		<div id='Exit'>X</div>
				<iframe id='Iframe' src=''></iframe>
		</div>
</div>
<!-- <div style='cursor: pointer' id='FeedbackLink'>F<br/>e<br/>e<br/>d<br/>b<br/>a<br/>c<br/>k</div> -->
<div id='Wrapper'>
	<div class='Option'>
		<div class='OptionSection'>
			<div class='section-title'>User Info</div>
			<div class='Description'>Verify your EmployeeID (i.e. "MATTHEWB"): </div>
			<input class='textbox' value='employeeid' id='EmployeeID' type='text' />
		</div>
		<div class='OptionSection'>
			<div class='section-title'>Tabs</div>
			<div class='Description'>Choose the custom tabs you would like to integrate</div>
			<label class='CheckLabel' for='Playbook'>
				<input class='Check' value='playbook' id='Playbook' type='checkbox' />
				<span>Playbook</span>
			</label>
			<label class='CheckLabel' for='Panels'>
				<input class='Check' value='panels' id='Panels' type='checkbox' />
				<span>Panels Playbook</span>
			</label>
			<label class='CheckLabel' for='Design'>
				<input class='Check' value='design' id='Design' type='checkbox' />
				<span>Design Resources (Theme Design Only)</span>
			</label>
		</div>

		<div class='OptionSection'>
			<div class='section-title'>Buttons</div>
			<div class='Description'>Add Custom buttons to Odo</div>
			<label class='CheckLabel' for='EmailButton'>
				<input class='Check' value='emailbutton' id='EmailButton' type='checkbox' />
				<span>Create Email</span>
			</label>
			<label class='CheckLabel' for='ClinicButton'>
				<input class='Check' value='clinicbutton' id='ClinicButton' type='checkbox'/>
				<span>Create Clinic Ticket</span>
			</label>
			<div>
				<div class="Description">Minified Buttons</div>
				<div>
					<label class='CheckLabel QueueLabel' for='MiniTicketButton'>
						<input class='Check' value='minibutton' id='MiniTicketButton' type='checkbox'/>
						<span class="Queue">Create Ticket</span>
					</label>
					<label class='CheckLabel QueueLabel' for='MiniTakeTicket'>
						<input class='Check' value='minitaketicket' id='MiniTakeTicket' type='checkbox'/>
						<span class="Queue">Take a Ticket</span>
					</label>
					<label class='CheckLabel QueueLabel' for='MiniSupportPhone'>
						<input class='Check' value='minisupportphone' id='MiniSupportPhone' type='checkbox'/>
						<span class="Queue">Support Phone</span>
					</label>
					<label class='CheckLabel QueueLabel' for='MiniClientIssue'>
						<input class='Check' value='miniclientissue' id='MiniClientIssue' type='checkbox'/>
						<span class="Queue">Report Client Issue</span>
					</label>
					<label class='CheckLabel QueueLabel' for='MiniEmailButton' id="MiniEmailLabel">
						<input class='Check' value='miniemailbutton' id='MiniEmailButton' type='checkbox' />
						<span class="Queue">Create Email</span>
					</label>
					<label class='CheckLabel QueueLabel' for='MiniClinicButton' id="MiniClinicLabel">
						<input class='Check' value='miniclinicbutton' id='MiniClinicButton' type='checkbox' />
						<span class="Queue">Create Clinic</span>
					</label>
				</div>
			</div>
		</div>

		<div class='OptionSection' id="Referrals">
			<div class='section-title'>Work Faster</div>
			<div class='Description'>Like Odo Enhanced? Check out these other great Qualtrics extenstions</div>
			<div id="ReferredExtensions">
			</div>
		</div>

		<div class='OptionSection'>
			<div class='section-title'>Themes & Styling</div>
			<div class='Description'>Choose the themes you want for Odo</div>
			<label class='NonCheckLabel' for='StarWars'>Choose a theme:
				<select id='Theme' class="select">
					<option default value='null'>None</option>
					<option value='starwars' id='StarWars'>Star Wars</option>
					<option value='christmas' class='hidden' id='Christmas'>Holiday</option>
				</select>
			</label>
			<label class='CheckLabel' for='shrinkPosts'>
				<input class='Check' value='shrinkposts' id='shrinkPosts' type='checkbox' />
				<span>Shrink Closed Squawkbox Posts</span>
			</label>
			<label class='CheckLabel' for='greyAlerts'>
				<input class='Check' value='greyalerts' id='greyAlerts' type='checkbox' />
				<span>Grey Out Odo Alerts</span>
			</label>
			<label class='CheckLabel' for='hideSquawkPosts'>
				<input class='Check' value='hideSquawkPosts' id='hideSquawkPosts' type='checkbox'/>
				<span>Hide the Squawkbox</span>
			</label>
			<label class='CheckLabel' for='LikeAndCloseBLC'>
				<input class='Check' value='likeAndCloseBLC' id='LikeAndCloseBLC' type='checkbox'/>
				<span>Automatically Like & Close 'Billing Like Crazy' Posts</span>
			</label>
			<label class='CheckLabel' for='NewBarnaby'>
				<input class='Check' value='newBarnaby' id='NewBarnaby' type='checkbox'/>
				<span>Use New Barnaby</span>
			</label>
		</div>

		<div class='OptionSection'>
			<div class='section-title'>Ticketing</div>
			<label class='CheckLabel' for='GradProgress'>
				<input class='Check' value='gradview' id='GradProgress' type='checkbox'/>
				<span>Show Progress Toward Ticket Goal</span>
			</label>
			<div class='subOption' id="ProgressOptions">
				<div class='Description'>Specify your Ticket Goal: </div>
					<input class='textbox' value='3700' id='TicketGoal' type='text'/>
				<div class='Description'>When would you like to achieve this goal? </div>
					<input class='textbox' value='2016-12-12' id='TicketDate' type='date'/>
			</div>
			<label class='CheckLabel' for='ClinicFeedbackButton'>
				<input class='Check' value='clinicfeedbackbutton' id='ClinicFeedbackButton' type='checkbox' />
				<span>Submit Clinic Feedback</span>
			</label>
			<div class='Description'>Default text for when forcing login</div>
			<input class='textbox' value='logintext' id='LoginText' type='text'/>
			<label class='CheckLabel' for='QuniTickets'>
				<input class='Check' value='qunitickets' id='QuniTickets' type='checkbox' />
				<span>Show Tickets Breakdown in Quni Inbox</span>
			</label>
			<div id="TicketBreakdownOptions">
				<div class="Description" id="SpecialtyQueuesDescription">Which specialty queues are you a part of?</div>
				<div class="SpecialtyQueues">
				<label class='CheckLabel QueueLabel' for='SIQueue'>
					<input class="Check" id="SIQueue" type='checkbox' />
					<span class="Queue">SI</span>
				</label>
				<label class='CheckLabel QueueLabel' for='TAQueue'>
					<input class="Check" id='TAQueue' type='checkbox' />
					<span class="Queue">TA</span>
				</label>
				<label class='CheckLabel QueueLabel' for='360Queue'>
					<input class="Check" id='360Queue' type='checkbox' />
					<span class="Queue">360</span>
				</label>
				<label class='CheckLabel QueueLabel' for='EEQueue'>
					<input class="Check" id='EEQueue' type='checkbox' />
					<span class="Queue">EE</span>
				</label>
				<label class='CheckLabel QueueLabel' for='ThemesQueue'>
					<input class="Check" id='ThemesQueue' type='checkbox' />
					<span class="Queue">Themes</span>
				</label>
				<label class='CheckLabel QueueLabel' for='VocQueue'>
					<input class="Check" id='VocQueue' type='checkbox' />
					<span class="Queue">VoC</span>
				</label>
				<label class='CheckLabel QueueLabel' for='StatQueue'>
					<input class="Check" id='StatQueue' type='checkbox' />
					<span class="Queue">Statwing</span>
				</label>
				<label class='CheckLabel QueueLabel' for='IntQueue'>
					<input class="Check" id='IntQueue' type='checkbox' />
					<span class="Queue">Int</span>
				</label>
				</div>
			</div>
		</div>

		<div class='OptionSection'>
			<div class='section-title'>Misc</div>
			<div class='Description'>Choose any other options here: </div>
			<label class='CheckLabel' for='Tips'>
				<input class='Check' value='tips' id='Tips' type='checkbox'/>
				<span>Show Weekly Tips</span>
			</label>
			<label class='CheckLabel' for='OmniSearch'>
				<input class='Check' value='omnisearch' id='OmniSearch' type='checkbox' />
				<span>Show OmniSearch</span>
			</label>
		</div>
	</div>
	<div id='status'></div>
</div>

<script type="text/javascript" src="../resources/jquery-1.11.3.min.js"></script>
<script src="../js/options.js"></script>
