<h2>Available Tickets Breakdown</h2>
<div class="container" id="DashTableOuter" style="max-width: 99%; margin-top: 10px; padding: 0px;">
<div class="table-responsive">
<style>
	#RecommendedTable > thead > tr > th {
		text-align: center;
		padding: 10px 15px 10px 3px;
		font-weight: normal;
		border-bottom: 1px solid #C7C7C7;
		overflow: hidden;
	}
	#RecommendedTable > tbody > tr > td {
		text-align: center;
		padding-left: 0px;
	}
	.right-wall {
		border-right: 1px solid #C7C7C7;
	}
</style>
<table id="RecommendedTable" class="Green dataTable table" style="table-layout: fixed; min-width: 75%; width: auto">
	<!--<tr>
		<thead>
			<h4>Standard & Specialty Queues</h4>
		</thead>

	</tr>-->
	<thead>
		<tr>
			<th id="StudentHead">Student</th>
			<th id="ZRHead">Zebra/ Rhino</th>
			<th id="TigerHead">Tiger</th>
			<th id="DLHead" class="right-wall">Dragon/ Lion</th>
			<th id="SIHead">SI</th>
			<th id="TAHead">TA</th>
			<th id="360Head">360</th>
			<th id="EEHead">EE</th>
			<th id="ThemesHead">Themes</th>
			<th id="VCHead">VoC</th>
			<th id="SWHead">Statwing</th>
			<th id="IntegrationsHead">Int</th>
		</tr>
	</thead>
	<tbody>
		<tr class="text-center">
			<td id="StudentItemCalls" style="font-weight: normal;">0</td>
			<td id="ZRItemCalls">0</td>
			<td id="TigerItemCalls">0</td>
			<td id="DLItemCalls" class="right-wall">0</td>
			<td id="SIItemCalls">0</td>
			<td id="TAItemCalls">0</td>
			<td id="360ItemCalls">0</td>
			<td id="EEItemCalls">0</td>
			<td id="ThemesItemCalls">0</td>
			<td id="VCItemCalls">0</td>
			<td id="SWItemCalls">0</td>
			<td id="IntegrationsItemCalls">0</td>
		</tr>
		<tr class="text-center">
			<td id="StudentItem" style="font-weight: normal;">0</td>
			<td id="ZRItem">0</td>
			<td id="TigerItem">0</td>
			<td id="DLItem" class="right-wall">0</td>
			<td id="SIItem">0</td>
			<td id="TAItem">0</td>
			<td id="360Item">0</td>
			<td id="EEItem">0</td>
			<td id="ThemesItem">0</td>
			<td id="VCItem">0</td>
			<td id="SWItem">0</td>
			<td id="IntegrationsItem">0</td>
		</tr>
	</tbody>
<!--
	<tbody>
		<tr>
			<td style="display: block; width:180px; text-align:left;"">Language Queues</td>
		</tr>
	</tbody>
	<thead>
		<tr>
			<th id="StudentHead">Student</th>
			<th id="ZRHead">Zebra/ Rhino</th>
			<th id="TigerHead">Tiger</th>
			<th id="DLHead" class="right-wall">Dragon/ Lion</th>
			<th id="SIHead">SI</th>
			<th id="TAHead">TA</th>
			<th id="360Head">360</th>
			<th id="EEHead">EE</th>
			<th id="ThemesHead">Themes</th>
			<th id="VCHead">VoC</th>
			<th id="SWHead">Statwing</th>
			<th id="IntegrationsHead">Int</th>
		</tr>
	</thead>
	<tbody>
		<tr class="text-center">
			<td id="StudentItem">0</td>
			<td id="ZRItem">0</td>
			<td id="TigerItem">0</td>
			<td id="DLItem" class="right-wall">0</td>
			<td id="SIItem">0</td>
			<td id="TAItem">0</td>
			<td id="360Item">0</td>
			<td id="EEItem">0</td>
			<td id="ThemesItem">0</td>
			<td id="VCItem">0</td>
			<td id="SWItem">0</td>
			<td id="IntegrationsItem">0</td>
		</tr>
	</tbody>
-->
</table>
</div>
</div>